#.vscode
.vscode/

# macOS system files
.DS_Store

# Build
build/
**/build/
*/CMakeLists.txt

temp/

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxitems
*.vcxitems.filters
*.user
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.opendb

# VS metadata
cpp.hint
OpenCV_Debug.props

# Build directories
x64/
[Ww]in32/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
out/
*.obj
*.pch
*.pdb
*.ilk
*.log

# Executables / libs
*.exe
*.dll
*.lib
*.exp
